.post{
    display: flex;
    align-items: center;
    height: 170px;
    margin-bottom: 30px;
}

.post_cover{
    margin-right: 20px;
}

.post_cover img{
    width: 230px;
    height: 125px;
    border-radius: 5px;
}

.post_title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 7px;
}

.post_author{
    margin-bottom: 7px;
}

.realise_date{
    color: #8f8f8f;
}