.nav {
    margin-top: 40px;
    width: 220px;
}

.item img {
    width: 16px;
    margin-right: 10px;
}

.item {
    margin-top: 10px;
    color: #484848;
}

.chat_btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.chat_btn a{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #27d584;
    background-color: #27d584;
    cursor: pointer;
    padding: 8px 70px;
    border-radius: 25px;

    font-size: 18px;
    color: #fff;
    transition: 0.3s ease;
}

.chat_btn a:active{
    background-color: transparent;
    color: #27d584;
    transition: 0.3s ease;
}

.chat_btn a img {
    width: 25px;
    margin-right: 10px;
}

.star{
    width: 25px;
    margin-left: 5px;
}

.stars_block {
    display: flex;
    justify-content: center;
    margin-left: -5px;
}
